
/* Your CSS Code here. */
table {
	border: 1px solid rgb(0, 0, 0);
}

body table tr td table {
	margin: 20px 1px;
}

body table tr td table {
	width: 100%;
}

.wh {
	background: rgb(0, 0, 0);
	color: white;
}

th {
	border: 1px solid rgb(0, 0, 0);
}

td {
	border: 1px solid black;
	text-align: center;
}